:root{
    --color-bg: #f2f2f2;
    --color-hero-icon: #fe4918;
    --color-hero-icon-hover: #9b2f12;
    --color-navbar: #353535;
    --color-light-transparent: #ffffffb9;
    --color-dark-transparent:#00000086;
    --color-white: #fff;
    --color-transparent: transparent;
}