
.Counter::before{
    background-image: url(../../static/bg-resumen.jpg);
    content: '';
}

.e-resume{
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 0;
    position: relative;
}

.e-resume div{
    text-align: center;
    width: 50%;
}

.e-resume div p:not(.number){
    font-family: 'Oswald';
    color: var(--color-white);
}

@media only screen and (min-width: 700px) {
    .e-resume div{
        width: 25%;
    }
}



