.CountDown{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
}

.CountDown div{
    text-align: center;
    width: 50%;
}

@media only screen and (min-width: 700px){
    .CountDown{
        justify-content: space-between;
    }
    .CountDown div{
        width: 25%;
    }
}

.CountDown div p{
    font-family: 'Oswald', sans-serif;
}