.NewsLetter::before{
    background-image: url(../../static/bg-newsletter.jpg);

}

.NewsLetter .content{
    text-align: center;
    padding: 10em 0;
}

.NewsLetter .content p{
    color: var(--color-white);
}

.NewsLetter .content h3{
    font-family: 'PT Sans';
    font-size: 7em;
    color: var(--color-white);
    text-transform: uppercase;
}